.hidden .NSFW{
	display: none;
}

#menu ul {
	border: 0px;
}

#menu li:not(:first-child) {
    border-top: 0px;
    margin-top: 3px;
}

.estateRoom {
	font-size: 4rem;
}

input[type="text"] {
	min-width: 0px;
}