.theme-light {
	--story-bg: #E8DFDB;
	--story-text: #19231A;
	--ui-bg: #D8CBC7;
	--ui-bg-hover: #C4B7B3;
	--ui-bg-active: #7A6E6B;
	--ui-text: #33673B;
	--ui-border: #565857;
	--link-color: #CC3F0C;
	--link-hover-color: #8A2006;
}

.theme-dark {
	--story-bg: #090C02;
	--story-text: #F0F7EE;
	--ui-bg: #191A16;
	--ui-bg-hover: #30312D;
	--ui-bg-active: #5E5F5B;
	--ui-text: #ACD5A1;
	--ui-border: #339989;
	--link-color: #E17A79;
	--link-hover-color: #D15159;
}

body {
	background-color: var(--story-bg);
	color: var(--story-text);
}

#ui-bar, 
#ui-dialog-title, 
#ui-dialog-body {
	background: var(--ui-bg);
	color: var(--ui-text);
}

#ui-dialog-body select, 
#ui-dialog-body button,
#ui-dialog-body.settings button[id|="setting-control"] {
	background: var(--ui-bg);
	color: var(--ui-text);
	border-color: var(--ui-border);
}

#ui-dialog-body select:hover, 
#ui-dialog-body button:hover,
#ui-dialog-body.settings button[id|="setting-control"]:hover {
	background: var(--ui-bg-hover);
}

#ui-dialog-body button.enabled,
#ui-dialog-body.settings button[id|="setting-control"].enabled {
	background: var(--ui-bg-active);
}



#menu li a {
	color: var(--ui-text);
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

img {
	max-width: 50%;
	max-height: 20em;
	object-fit: contain;
	border-radius: 15px;
	border: solid 4px #5C2C41; 
}