@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Fira+Code&family=Quicksand&family=Squada+One&display=swap');

body
{
  color:  DarkGrey;
}

span.estateRoom {
  font-size: 30px;
}

.date {
	font-size: 30px;
	font-family: 'Fira Code', monospace;
}

.time {
	color: #FF3D3D;
	font-size: 40px;
	font-family: 'Squada One', cursive;
	border: #FF3D3D 2px solid;
	border-radius: 5px;
	padding: 2px 7px; 
}

#story-title {
	margin-top: 5px;
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
	line-height: 40px;
}

#story-author {
	font-size: 18px;
	font-family: 'Baloo Thambi 2', cursive;
}

body {
	background-color: #1C030E;
	color: #EBD8E2;
}