/*#ui-bar {
	position: fixed;
	left: -15.5rem;
	transition-delay: var(--t8n-delay);
	background-color: var(--ui-background);
	color: var(--ui-color);
}

#ui-bar:hover, #ui-bar.active {
	left: 0rem;
}

#ui-bar-body {
	visibility: visible;
}	

#ui-bar-history {
	margin-top: .5em;
	height: 32px;
}

#ui-bar-history > input[id|="history"]:not(:first-child) {
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);

	margin-top: 8px;
}

#ui-bar-history [id|="history"] {
	position: relative;
	height: 32px;
	width: 32px;

	border-radius: 4px;
	border-color: #62022C;
}

#ui-bar-history #history-pin {
	background-color: #111111;
}

#ui-bar-history #history-pin.active {
	background-color: #484848;
}

#story-title {
	font-size: 2.5rem;
	font-family: 'Quicksand', sans-serif;
}

#story-author {
	font-weight: 400;
	font-size: 1.15rem;
	font-family: 'Baloo Thambi 2', cursive;
}

#ui-bar hr {
	border-color: #F4A9CE;
}

.date {
	font-size: 2rem;
	font-family: 'Fira Code', monospace;
}

.time {
	background-color: #4A1111;
	color: #FF3D3D;
	border: #FF3D3D 2px solid;

	font-size: 3rem;
	font-family: 'Squada One', cursive;
	
	border-radius: 5px;
	padding: 2px 7px; 
}

#ui-bar a.link-internal {
	color: #FFDEEA;
	padding: 5px 30px 5px;
	margin: 5px 5px 5px;
	border: solid 1px #FFDEEA;
	border-radius: 5px;
	font-size: 50px;
	font-family: 'Share Tech Mono', monospace;
}

#ui-bar a.link-internal:hover {
	border: solid 1px #CE7298;
	text-decoration: none;
	padding: 2px 20px 2px;
	margin: 8px 5px 8px;
}

/*
#ui-bar{
	background-color: #2C0C1A;
	border-color: #3D1627;
	color: #F4A9CE;
}

#ui-bar hr {
	border-color: #F4A9CE;
}

#ui-bar a:not(.link-internal),#ui-bar-history [id|="history"]{
	border-radius: 14px;
	border-color: #62022C;
	background-color: #694957;
	color: #9A7A88;
}

#ui-bar a:not(.link-internal),#ui-bar-history [id|="history"]:hover {
	border-radius: 14px;
	border-color: #62022C;
	background-color: #5C2C41;
	color: #9A7A88;
}

#ui-bar a:not(.link-internal),#ui-bar-history [id|="history"]:disabled{
	border-radius: 14px;
	border-color: #62022C;
	background-color: #704B5B;
	color: #9A7A88;
}

#ui-bar-toggle:not {
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	border-color: #62022C;
	background-color: #694957;
	color: #9A7A88;
}

#ui-bar-toggle:hover:not {
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	border-color: #62022C;
	background-color: #5C2C41;
	color: #9A7A88;
}

#menu ul {
	border: 0px;
}

#menu li:not(:first-child) {
    border-top: 0px;
    margin-top: 3px;
}

img {
	max-width: 50%;
	max-height: 300px;
	object-fit: contain;
	border-radius: 15px;
	border: solid 4px #5C2C41; 
}

#ui-bar a.link-internal {
	color: #FFDEEA;
	padding: 5px 30px 5px 30px;
	margin: 5px 5px 5px 5px;
	border: solid 1px #FFDEEA;
	border-radius: 5px;
	font-size: 50px;
	font-family: 'Share Tech Mono', monospace;
}

#ui-bar a.link-internal:hover {
	color: #CE7298;
	border: solid 1px #CE7298;
	text-decoration: none;
	padding: 2px 20px 2px 20px;
	margin: 8px 5px 8px 5px;
	font-family: 'Share Tech Mono', monospace;
}

#RuleTitle {
	font-family: 'Gotu', sans-serif;
	font-size: 30px;
}

.rules {
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

*/