#ui-bar {
	/*position: fixed;
	left: -15.5rem;*/
	transition-delay: var(--t8n-delay);
	background-color: var(--ui-background);
	color: var(--ui-color);
}

/*#ui-bar:hover, #ui-bar.active {
	left: 0rem;
}

#ui-bar-body {
	visibility: visible;
}	
*/
#ui-bar-history {
	margin-top: .5em;
	height: 32px;
}

#ui-bar-history > input[id|="history"]:not(:first-child) {
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);

	margin-top: 8px;
}

#ui-bar-history [id|="history"] {
	position: relative;
	height: 32px;
	width: 32px;

	border-radius: 4px;
	border-color: #62022C;
}

#ui-bar-history #history-pin {
	background-color: #111111;
}

#ui-bar-history #history-pin.active {
	background-color: #484848;
}

#story-title {
	font-size: 2.5rem;
	font-family: 'Quicksand', sans-serif;
}

#story-author {
	font-weight: 400;
	font-size: 1.15rem;
	font-family: 'Baloo Thambi 2', cursive;
}

#ui-bar hr {
	border-color: #F4A9CE;
}

.date {
	font-size: 2rem;
	font-family: 'Fira Code', monospace;
}

.time {
	background-color: #4A1111;
	color: #FF3D3D;
	border: #FF3D3D 2px solid;

	font-size: 3rem;
	font-family: 'Squada One', cursive;
	
	border-radius: 5px;
	padding: 2px 7px; 
}

#cuff-button {
	color: #FFDEEA;
	padding: 5px 30px 5px;
	margin: 5px 5px 5px;
	border: solid 1px #FFDEEA;
	border-radius: 5px;
	font-size: 50px;
	font-family: 'Share Tech Mono', monospace;
}

#cuff-button > a {
	border: solid 1px #CE7298;
	text-decoration: none;
	padding: 2px 20px 2px;
	margin: 8px 5px 8px;
}