@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kumbh+Sans:wght@300&family=Roboto+Mono:wght@300&display=swap');

:root {
	font-size: max(min(1.3vw, 19px), 12px);
	
	--ui-left: 15rem;
	--ui-right: 10rem;
	--story-margin: 7rem;

	--ui-fg: #E6F9FF;
	--ui-bg: #0F1C2E;
	--ui-border: #254355;
	--ui-border-alt: #1F3847;

	--story-fg: #E6F9FF;
	--story-bg: #0A131F;

	--story-emphasis: #386480;

	--story-accent: #C7BBB7;

	--link-color: #F5E663;
	--link-hover: #AD9C0B;
}

html {
	scroll-behavior: smooth;
}

button {
	border: solid 0.1rem var(--ui-border);
	border-radius: 0.3rem;
	background-color: var(--ui-bg);	
}

button:hover {
	background-color: var(--ui-border-alt);
}

img {
	max-width: 50%;
	object-fit: contain;
	border-radius: 15px;
	border: solid 4px var(--link-color); 
}

a {
	color: var(--link-color);
	border: solid 1px var(--link-color);
	border-radius: 0.5rem;
	padding: 0.25rem;
}

a:hover {
	color: var(--link-hover);
}

sup {
	vertical-align: super;
	position: inherit;
}

/* DISPLAY */

.hidden, .tooltip {
	display: none;
}

.tooltip-content {
	position: relative;
	left: 0; right: 0; top: 2rem; margin: auto; padding: auto;
    padding: 5rem;
    border: solid 5px var(--ui-bg);
    border-radius: 20px;
}

/* DIALOG */

#ui-dialog-title {
	background-color: var(--ui-border-alt); 
}

#ui-dialog-body, button[aria-disabled=""] {
	background-color: var(--ui-bg);
}

/* STORY BARS */

#left-bar, #right-bar {
	margin: 0px;
	padding: 0.2rem;
	position: fixed;
}

#left-bar {
	left: 0;
	height: 99vh;
	width: var(--ui-left);
	font-size: 0.75rem;

	color: var(--ui-fg);
	background-color: var(--ui-bg);
	border-right: solid 0.2rem var(--ui-border);
	border-bottom: solid 0.2rem var(--ui-border);
}

#right-bar {
	right: 0;
	width: var(--ui-right);

	color: var(--ui-fg);
	background-color: var(--ui-bg);
	border-left: solid 0.2rem var(--ui-border);
	border-bottom: solid 0.2rem var(--ui-border);
	border-bottom-left-radius: 10%;
}

/* LEFT BAR */

#title-story {
	margin: 0.2rem 0.2rem 2rem 0.2rem;
}

#game-title {
	color: #6290C8;

	margin: 0;
	font-family: 'Anton', sans-serif;
	font-size: 2rem;
}

#game-subtitle {
	color: #6290C8;

	margin: 0.2rem 0 0 0;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 0.5rem;
}

#info-navigation {
	margin: 0.2rem;
}

.nav-button, .nav-button button, #cuff-button button {
	min-width: 46%;

	background-color: var(--ui-border);
	color: var(--ui-fg);
	border: solid 0.2rem var(--ui-border);
	border-radius: 0.5rem;
}

.nav-button:hover, #cuff-button button:hover {
	background: none;
	border: solid 0.2rem var(--ui-fg);
	border-radius: 0.4rem;
}

.ui-menu {
	margin: 0.2rem;
	padding: 0.8rem;

	border: dashed 0.2rem var(--ui-bg);
	background-color: var(--ui-border);
	border-radius: 0.4rem;
}

.ui-menu table {
	width: 100%;
	padding: 1rem;
}

.ui-menu table tr, .ui-menu table tr td {
	padding: 0.3rem 0.1rem;
}

.ui-menu table tr:nth-child(even) {
	background-color: var(--ui-border-alt);
}

#cuff-button button {
	margin-top: 0.8rem;
	width: 100%;
	height: 2rem;
}

#menu-buttons {
	position: absolute;
	bottom: 0.4rem;

	margin: 0.2rem;
}

#left-bar a {
	border: none;
}

/* RIGHT BAR */

#location {
	margin: 0.5rem 2rem;
}

#clock, #clock-img img {
	width: var(--ui-right);
	height: var(--ui-right);
	object-fit: cover;
	object-position: 0 0;
	max-width: 100%;
	border: none;
}

#clock-time {
	text-align: center;
	font-size: 1rem;
	font-family: "Roboto Mono", monospace;
}

#clock-text {
	text-align: center;
	padding: 0.4rem;

	font-size: 2rem;
	font-family: 'Roboto Mono', monospace;
}

#location {
	text-align: center;
	padding: 0.2rem;
}

/* PASSAGES */

.passage {
	padding: 2rem;
}

#passages {
	margin: 0 var(--ui-right) 0 var(--ui-left);
	padding: 0 var(--story-margin);
}

body, #main-story {
	background-color: var(--story-bg);
	color: var(--story-fg);
}

/* MAIN STORY */

.title h1 {
	font-size: 5rem;
	margin: 0;

	color: var(--story-accent);
}

.title h2 {
	margin-top: 0;
	font-size: 2rem;

	color: var(--story-accent);
}

.warning {
	background-color: var(--story-emphasis);
	border: solid 0.2rem var(--story-fg);
	border-radius: 1rem;

	padding: 2rem;
}

/* SHOP */

.shop-display {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 0.2rem;
}

.inventory-display {
	display: grid;
	grid-template-columns: repeat(var(--inventoryRow), 1fr);
	grid-column: 1fr;
	grid-gap: 0.2rem 0.2rem;
}

.inventory-name {
	grid-column: 1 / span var(--inventoryRow);
	border: dotted 0.2rem var(--link-color);
	border-radius: 0.5rem;
	text-align: center;
	padding: auto auto;
}

.item-display, .inventory-display-empty {
	display: grid;
	grid-template-columns: 1;
	border: dotted 0.2rem var(--link-color);
	border-radius: 0.5rem;
	text-align: center;
}

.item-display.item-tag-tmp {
	border-color: var(--title-color);
}

.item-display-img {
	height: 100%;
}

.estateRoom {
	font-size: 3rem;
	color: var(--link-color);
}