:root {
	font-size: 16px; 
}

div {
	border: solid 1px red;
}

#interface {
	display: grid;
	grid-template-columns: 25vw auto 25vw;
	grid-template-rows: 5vh 1fr 5vh;
	grid-column-gap: 1vh;
	grid-row-gap: 1vw;
	height: 99vh;
}

#interface > *:nth-child(-n + 3) {
	top: 0;
	position: sticky;
}

#interface > *:nth-last-child(-n + 3){
	bottom: 0;
	position: sticky;
}

#player-stat {
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%); /* for IE 9 */
	-webkit-transform: translate(0, -50%); /* for Safari */
}

#CUFF {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%); /* for IE 9 */
	-webkit-transform: translate(0, -50%); /* for Safari */
}

#grid-top-center {
	text-align: center;
}

#story-title {
	float: left;
	position: relative;
	font-size: 2.7rem;
}

#story-author {
	text-align: right;
	font-size: 0.7rem;
}

#day {
	text-align: right;
	font-size: 1rem;
}

#hour {
	float: right;
	position: relative;
	font-size: 3rem;
}

#ui-bar-history [id|=history] {
    font-family: tme-fa-icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    speak: none;
}
#ui-bar-history [id|=history]:disabled {
    color: #444;
    background-color: transparent;
    border-color: #444;
}