#story-title {
	float: left;
	position: relative;
	font-size: 2.7rem;
}

#story-author {
	text-align: right;
	font-size: 0.7rem;
}

#day {
	text-align: right;
	font-size: 1rem;
}

#hour {
	float: right;
	position: relative;
	font-size: 3rem;
}